<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.helpdesk.mapper.UserMapper">

    <select id="listQuery" parameterType="com.helpdesk.param.UserParam" resultType="com.helpdesk.entity.User">
        SELECT user.*,organization.name as org_name FROM user
        left join organization on organization.id = user.org_id
        <where>
            1=1
            <if test="name != null">
                and user.name = #{name}
            </if>
        </where>
    </select>
    <select id="selectByOrganization" resultType="com.helpdesk.entity.User">
        SELECT id, name FROM user WHERE org_id = #{orgId}
    </select>


</mapper>
