<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.helpdesk.mapper.WorkOrderMapper">

    <select id="listQuery" parameterType="com.helpdesk.param.WorkOrderParam" resultType="com.helpdesk.entity.WorkOrder">
        SELECT work_order.* , tags.name as tag_name,
        user.name as user_name,
        user_check.name as checkName,
        user.org_id orgId
        FROM work_order
        left join tags on tags.id = work_order.tag_id
        left join user on user.id = work_order.user_id
        left join user as user_check on user_check.id = work_order.check_user_id
        <where>
            1=1
            <if test="userId != null and userId > -1">
                and work_order.user_id = #{userId}
            </if>
            <if test="questions != null and questions != ''">
                and work_order.questions like CONCAT('%',#{questions},'%')
            </if>
            <if test="checkId != null and checkId > -1">
                and work_order.check_user_id = #{checkId}
            </if>
            <if test="workStatus != null">
                and work_order.work_status = #{workStatus}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.helpdesk.entity.WorkOrder">
        SELECT work_order.*,
        user.org_id orgId
        FROM work_order
        left join user on user.id = work_order.check_user_id
        where work_order.id = #{id}
    </select>


</mapper>
